<!DOCTYPE html>
<html>
<head>
    <title>Book List</title>
</head>
<body>
    <h1>Book List</h1>
    <a href="{% url 'create_book' %}">Add a New Book</a>
    <ul>
        {% for book in books %}
            <li>
                <strong>{{ book.title }}</strong><br>
                Author: {{ book.author }}<br>
                Published Date: {{ book.published_date }}<br>
                ISBN: {{ book.isbn }}<br>
                <a href="{% url 'edit_book' book.id %}">Edit</a> |
                <a href="{% url 'delete_book' book.id %}">Delete</a>
            </li>
        {% empty %}
            <li>No books available.</li>
        {% endfor %}
    </ul>
</body>
</html>
